.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 80px;
    align-items: center;
    padding: 0px 15px;
}

.headerlink {
    margin-right: 25px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.basket {
    font-size: 30px;
    margin-right: 5px;
}

.urun {
    display: flex;
    margin-bottom: 20px;
}

.urun-detay {
    margin-top: 85px;
}

.urun-resim {
    flex: 1;
    margin-right: 20px;
}

.urun-resim img {
    width: 100%;
    max-width: 275px;
    height: auto;
}

.urun-bilgileri {
    flex: 2;
}

.total {
    text-align: center;
    margin-top: 20px;
}

.onayla-btn {
    background-color: rgb(37, 150, 190);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.onayla-btn:hover {
    background-color: #195e83;
}



.fiyat {
    font-size: 30px;
    font-weight: bolder;
}

.footer {
    background-color: rgb(37, 150, 190);
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.footer div a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: rgb(37, 150, 190);
    font-size: 40px;
    color: white;
    margin: 0 6px;
    border-radius: 50%;
    text-decoration: none;
}

.footer a i {
    transition: 0.5s all;
}

.footer a:hover>i {
    transform: scale(1.6) rotate(360deg);
}
