.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 80px;
    align-items: center;
    padding: 0px 15px;
}

.bannerDiv {
    background-image: url('images/banner.jpg');
    height: 330px;
    margin-bottom: 30px;
}

.headerlink {
    margin-right: 25px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}



.imgDiv {
    width: 200px;
    border: 1px dashed black;
    border-radius: 30px;
    margin-right: 30px;
}

.imgDiv img {
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}

.imgDiv h3 {
    text-align: center;
    color: black;
}

.imgDiv p {
    padding: 0px 20px;
    text-align: center;
}
.basket{
    font-size: 30px;
    margin-right: 5px;
}

.imgDiv .pricePurchaseDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.imgDiv .price {
    font-size: 34px;
    color: black;
}

.imgDiv .purchase {
    padding: 15px 10px;
    border-radius: 30px;
    border: none;
    background-color: rgb(37, 150, 190);
    color: white;
    width: 100px;
    cursor: pointer;

}
.purchase:hover{
    background-color: #195e83;
}


.footer {
    background-color:  rgb(37, 150, 190); 
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.footer div a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: rgb(37, 150, 190); 
    font-size: 40px;
    color: white;
    margin: 0 6px;
    border-radius: 50%;
    text-decoration: none;
}
.footer a i{
    transition: 0.5s all;
}

.footer a:hover > i{
    transform: scale(1.6) rotate(360deg);
}

/* .mobileIcon {
    display: none;
} */

.imgMaindiv {
    display: flex;
    justify-content: center;
}

/* @media screen and (max-width: 600px) {


    .imgDiv {
        width: 100%;
        margin-bottom: 30px;
    }

    .imgMaindiv {
        flex-direction: column;
    }

    .mobileLinkDisplay {
        display: none;
    }

    .mobileLink {
        display: flex;
        flex-direction: column;
    }

    .header {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .mobileIcon {
        display: block;
    }

    .headerimg {
        display: none;
    }
} */